// FONT SIZE
    // Font family
    $f-family-Noto: 'Noto Serif', serif;
    $f-family-Roboto: 'Roboto Mono', monospace;
    
    // Font-size-text
    $f-s-1: 16px;
    $f-s-2: 14px;
    $f-s-3: 12px;
    $f-s-4: 10px;

    // Font-size-text
    $f-st-1: 68px;
    $f-st-2: 38px;
    $f-st-3: 30px;
    $f-st-4: 18px;

// COLORS
    // Background colors
    $bg-white-1: #ffffff;
    $bg-white-2: #ffffff33;
    $bg-white-3: #FFFFFF26;
    $bg-beige-1: #FBF9F9;  
    $bg-beige-2: #FAFAFA;
    $bg-gray-1: #E1E1E1; 
    $bg-gray-2: #F9F9F9; 
    $bg-orange: #FF4612; 
    $bg-fuscia: #EF2853; 
    $bg-light-red: #EE2852; 
    $bg-black-1: #1E1E1E;
    $bg-black-2: #00000026;
    $bg-black-3: #1E1E1E4D; 
    $bg-black-4: #1E1C1C; 
    $bg-black-5: #191516; 
    $bg-black-6: #181515; 
    

    // Text colors
    $f-white-1: #FFFFFF;
    $f-white-2: #FAFAFA;
    $f-gray-1: #555555;
    $f-gray-2: #6A6A6A;
    $f-gray-3: #A6A6A6;
    $f-gray-4: #BDBDBD;
    $f-gray-5: #C0C0C0;
    $f-gray-6: #CCCCCC;
    $f-gray-7: #D2D2D2;
    $f-orange-1: #FF4612;
    $f-black-1: #000000;
    $f-black-2: #181515;
    $f-black-3: #1E1E1E;
    
    // Fill colors
    $fill-white-1: #FFFFFF;
    $fill-gray-1: #D8D8D8;
    $fill-fuscia-1: #EE2852;
    $fill-black-1: #000000;

    // Border colors 
    $border-white-1: #FFFFFF;
    $border-gray-1: #CCCCCC;
    $border-gray-2: #EBEBEB;
    $border-gray-3: #ECECEC;
    $border-orange-1: #FF4612;
    $border-black-1: #1E1E1E;
    
  
