@use './partial/varibils' as*;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $f-family-Noto;
    .title {
        color: $f-black-1;
    }
    p.text {
        color: $f-gray-2;
    }
}

figure {
    display: block;
    width: 100%;
}

figure > img {
	display: block;
	width: 100%;
}

img {
    max-width: 100%;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

.container-xxl {
    max-width: 1786px;
    margin: 0 auto;
}

.container-xl {
    max-width: 1696px;
    margin: 0 auto;
}

.container-lg {
    max-width: 1350px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row [class^="col"] {
    padding-left: 10px;
    padding-right: 10px;
}

// HEADER
.nav-bar {
    .nav-menu .menu {
        display: flex;
        gap: 40px;
        font-family: $f-family-Roboto;
        font-weight: 800;
        padding: 0px 20px 0px 40px;
        & a {
            text-transform: uppercase;
            position: relative;
            & .arrow {
                display: none;
                align-items: center;
                height: 100%;
                position: absolute;
                transform: translate(-100%, 0%);
                left: -5px;
            }
            &:hover{
                color: $f-orange-1;
                .arrow {
                    display: flex;
                }
            }
        }
    }
    .input:hover,
    .menu-secondary:hover {
        color: $f-orange-1;
        cursor: pointer;
    }
}