@use './partial/varibils' as*;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $f-family-Noto;
    font-size: $f-s-1;
    .title {
        color: $f-black-1;
    }
    p.text {
        color: $f-gray-2;
    }
}

figure {
    display: block;
    width: 100%;
}

figure > img {
	display: block;
	width: 100%;
}

img {
    max-width: 100%;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

.container-xxl {
    max-width: 1786px;
    margin: 0 auto;
}

.container-xl {
    max-width: 1696px;
    margin: 0 auto;
}

.container-lg {
    max-width: 1350px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-3 {
    width: calc(100% * 3 / 12);
}

.col-4 {
    width: calc(100% * 4 / 12);
}

.col-6 {
    width: calc(100% * 6 / 12);
}

.col-12 {
    width: 100%;
}

.row [class^="col"] {
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-color: $bg-gray-2;
}

// HEADER
.nav-bar {
    .nav-menu .menu {
        display: flex;
        gap: 40px;
        font-family: $f-family-Roboto;
        font-weight: 800;
        padding: 0px 20px 0px 40px;
        li.active::after {
            content: "";
            display: block;
            margin: 0 auto;
            height: 2px;
            background-color: #FF4612;
            width: 100%;
        }
        & a {
            text-transform: uppercase;
            position: relative;
            & .arrow {
                display: none;
                align-items: center;
                height: 100%;
                position: absolute;
                transform: translate(-100%, 0%);
                left: -5px;
            }
            &:hover{
                color: $f-orange-1;
                .arrow {
                    display: flex;
                }
            }
        }
    }
    .input:hover,
    .menu-secondary:hover {
        color: $f-orange-1;
        cursor: pointer;
    }
}

.page-footer {
    p {
        line-height: 24px;
    }
    .important-links .menu a,
    .contact-me .menu a {
        line-height: 28px;
    }
    .icon {
        color: $bg-orange;
    }

}

// HOVER

.page-header {
    li:hover {
        scale: 1.2;
    }
    svg:hover {
        scale: 1.2;
    }
}

// debuG


.debug .container-xxl {
    border: 3px solid rgb(0, 132, 255);
}

.debug .container-lg {
    border: 3px solid orange;
}

.debug .row {
    border: 2px solid fuchsia;
}

.debug .col {
    border: 1px solid green;
}